@import '@infomat/uikit/src/themeUtils';

.container {
	width: themeSpacing(33.5);
	max-width: themeSpacing(33.5);
	min-width: themeSpacing(33.5);
	display: flex;
	flex-direction: column;
	justify-items: stretch;
	gap: themeSpacing(1.25);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.subContainerItem {
	display: flex;
	flex-direction: column;
	justify-items: stretch;
	margin-top: -4px;
}

.subContainer {
	display: flex;
	flex-direction: column;
	justify-items: stretch;
	gap: themeSpacing(0.825);
}
